<form #userForm="ngForm" novalidate (ngSubmit)="onSubmit(userForm)">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" name="name"
           placeholder="Name"
           [(ngModel)]="user.name" #name="ngModel" required>
    <div class="alert alert-danger"
         [hidden]="name.valid || name.untouched">
      <p>Name is not provided</p>
    </div>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input class="form-control" name="email"
           [(ngModel)]="user.email" #email="ngModel"
           required email>
    <div [hidden]="email.valid || email.untouched"
         class="alert alert-danger">
      <p>Email is not valid</p>
    </div>
  </div>
  <div class="form-group">
    <label for="phone">Phone</label>
    <input type="text" class="form-control" name="phone"
           [(ngModel)]="user.phone" #phone="ngModel"
           required pattern="[0-9]{10}">
    <div class="alert alert-danger"
        [hidden]="phone.valid || phone.untouched">
      <p>Phone is not valid</p>
    </div>
  </div>
  <div class="form-group">
    <!-- <button class="btn btn-default" (click)="submit(userForm)"
            [disabled]="userForm.invalid">Add</button> -->
    <input type="submit" [disabled]="userForm.invalid" class="btn btn-default" value="Send">
  </div>
</form>

<div>Name: {{userForm.value.name}}</div>
<div>Email: {{userForm.value.email}}</div>